logging:
  level:
    root: INFO
    dev.tuanm.demo: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

elastic:
  url: localhost:9200

spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        # order_inserts: true
        jpa:
          batch_size: 10
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/demo?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: 123@
